.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #fff;
  color: #000;
  overflow: auto;
  text-align: left;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 820px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  font-size: 1.2em;
  margin-left: 10px;
}

.cv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180vh;
}

.job {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.job ul {
  margin: 0;
  padding: 10px;
  font-size: .9em;
}

.company-title {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.time-period {
  margin: 0;
  font-size: .9em;
  font-weight: 300;
}

.section-title h3 {
  margin: 0;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 400;
  color: #505050;
}

.about-me {
  flex: 1 1 100%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.about-me p {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

.close-modal {
  position: fixed;
  text-align: center;
  font-size: 1.3em;
  top: 10px;
  right: 20px;
  transition: .2s;
  cursor: pointer;
}


.close-modal:hover {
  transform: scale(1.5);
}

.close-modal span {
  color: #505050;
  font-size: .8em;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }

  .cv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: auto;
  }

  .job {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .about-me {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .close-modal {
    top: 10px;
    right: 10px;
    font-size: 1em;
  }
}

@media  print {
  @page {
    size: A4;
    margin: 5px;
  }

  .modal-content {
    width: 100%;
  }

  .close-modal {
    display: none;
  }

  .cv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100vh;
  }

  .job {
    padding: 5px;
  }

  .modal-header {
    padding-bottom: 0;
  }
}