#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.container-typing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.typing {
  font-size: 3em;
  height: 1.5em;
}

.icon {
  margin: 0 0.5em;
  font-size: 50px;
  color: #fff;
  transition: .2s;
  opacity: 0;
  animation: pulse 4s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.icon:hover {
  color: #484848;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
}

.modal-action {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .typing {
    font-size: 2em;
    height: 2em;
  }

  .container-icons {
    flex-direction: column;
  }

  .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

